[submodule "profile"]
	path = profile
	url = https://github.com/mtalexan/bash-profile
[submodule "repos"]
	path = repos
	url = https://github.com/mtalexan/modular-scripts.git
[submodule "i3/quickswitch-for-i3"]
	path = i3/quickswitch-for-i3
	url = https://github.com/OliverUv/quickswitch-for-i3.git
[submodule "i3/i3-easyfocus"]
	path = i3/i3-easyfocus
	url = https://github.com/cornerman/i3-easyfocus.git
