#!/usr/bin/zsh
PURE_POWER_MODE=fancy
source ~/manjaro-config/zsh-config/.purepower
# required for using virtualenv segment
VIRTUAL_ENV_DISABLE_PROMPT=1

POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=(context virtualenv dir_writable dir vcs)
POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=(status root_indicator custom_rprompt history)
# hide 'context' segment when username matches
DEFAULT_USER=aaravchen
# hide 'dir' segment icons
POWERLEVEL9K_HOME_ICON=''
POWERLEVEL9K_HOME_SUB_ICON=''
POWERLEVEL9K_FOLDER_ICON=''
POWERLEVEL9K_ETC_ICON=''
# hide 'vcs' extraneous icons
POWERLEVEL9K_HIDE_BRANCH_ICON=false
POWERLEVEL9K_VCS_SHOW_SUBMODULE_DIRTY=false
# general display options
POWERLEVEL9K_MODE=nerdfont-complete
POWERLEVEL9K_PROMPT_ON_NEWLINE=true
